[user]
    email = scott.a.idler@gmail.com
    name = Scott Idler
    signingkey = 1637717AA84258312B7D4DA7883230927DBA8672
[commit]
    gpgsign = true
[log]
    date = local
[core]
    pager = less -F -X
    editor = vim
[branch]
    autosetupmerge = true
[diff]
    mnemonicprefix = true
[rerere]
    enabled = true
[pull]
    rebase = true
[push]
    default = simple
    followTags = true
[merge]
    ff = only
    tool = meld
[alias]
    prune = fetch --prune
    undo = reset --soft HEAD^
    tree = !"git tree1"
    tree1 = !"git tree1-specific --all"
    tree2 = !"git tree2-specific --all"
    tree3 = !"git tree3-specific --all"

    tree1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    tree2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''		  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    tree3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''		  %C(white)%s%C(reset)%n''			%C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
[secrets]
    providers = git secrets --aws-provider
    patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[gpg]
	program = gpg
[init]
	defaultBranch = main
